.wrapper {
    width: 100%;
    background-color: rgb(237 237 237);
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    font-size: 1.6rem;
    color: #000000;
}

.nav-item-list {
    display: flex;
    justify-content: space-between;
    padding: 24px 8px;
    margin: auto;
    width: var(--default-width-content);
}

.nav-item {
    position: relative;

    &.active {
        font-weight: 700;
    }

    &.active::before {
        content: ' ';
        position: absolute;
        background-color: #fd7f28;
        border-radius: 50%;
        height: 8px;
        width: 8px;
        top: -10px;
        left: 50%;
    }
}
