.modal-wrapper {
    display: flex;
    position: fixed;
    top: 10%;
    left: 40%;
    align-items: center;
    background-color: #4caf50;
    padding: 2rem 1rem;
    border-radius: 2rem;
    .notification {
        font-size: 1.6rem;
        margin-left: 1rem;
    }
}
